<div class="mt-4">
  <div *ngIf="videoId && !isOffline; else noVideoTemplate">
    <youtube-player
      class="rounded-md"
      [videoId]="videoId"
    ></youtube-player>
  </div>
  <ng-template #noVideoTemplate>
    <div class="placeholder-width content-height w-full h-full  bg-gray-100"></div>
  </ng-template>
</div>