<div class="flex flex-row">
  <input
  class="w-full px-2 py-1 bg-gray-50 border-gray-200 border outline-none ring-gray-500 focus:ring-1"
  id="searchBar"
  type="text"
  placeholder="YouTube video URL"
  [formControl]="searchBar"
  >
  <button 
    class="h-full ml-3 py-2 px-6 bg-gray-800 text-sm font-medium text-white hover:bg-gray-600 transition ease-in-out
    disabled:bg-gray-200 disabled:text-gray-500"
    type="submit"
    (click)="submitURL()"
    [disabled]="searchBar.invalid"
  >
    View
  </button>
</div>