<div class="bg-white h-screen flex flex-col">
  <div class="mx-auto my-auto">
    <searchBar
      (newURLEvent)="onNewVideo($event)"
    ></searchBar>
    <videoView
      [videoId]="currentVideo"
    ></videoView>
    <History
      (historyItemClicked)="onNewVideo($event)"
    ></History>
    <Bookmarks *ngIf="showBookmarks"
      (bookmarkedClicked)="onNewVideo($event)"
    ></Bookmarks>    
    <button *ngIf="currentVideo"
      class="absolute mt-4 mx-auto px-3 py-1 flex flex-row text-gray-800 rounded-full border-gray-800 transition ease-in-out"
      [class.hover:bg-gray-50]="!currentVideoBookmarked"
      [class.border]="!currentVideoBookmarked"
      (click)="bookmarkVideo()"
    >
      <ng-container *ngIf="!currentVideoBookmarked; else bookmarkedVideoBtnTemplate">
        <svg class="w-6 h-6 fill-current" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><rect fill="none" height="24" width="24"/><path d="M21,7h-2v2h-2V7h-2V5h2V3h2v2h2V7z M19,21l-7-3l-7,3V3l9,0c-0.63,0.84-1,1.87-1,3c0,2.76,2.24,5,5,5c0.34,0,0.68-0.03,1-0.1 V21z"/></svg>
        <span class="my-auto ml-3 text-sm">
          Bookmark
        </span>
      </ng-container>
      <ng-template #bookmarkedVideoBtnTemplate>
        <svg class="w-6 h-6 text-gray-400 fill-current" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><rect fill="none" height="24" width="24"/><path d="M19,21l-7-3l-7,3V3h9c-0.63,0.84-1,1.87-1,3c0,2.76,2.24,5,5,5c0.34,0,0.68-0.03,1-0.1V21z M17.83,9L15,6.17l1.41-1.41 l1.41,1.41l3.54-3.54l1.41,1.41L17.83,9z"/></svg>
        <span class="my-auto ml-3 text-sm text-gray-400 font-light">
          Bookmarked
        </span>
      </ng-template>
    </button>
  </div>
  <div class="fixed right-16 top-8 flex flex-row">
    <h2 class="mr-2 text-3xl animate-pulse">
      {{ nbOfBookmarks }}
    </h2>
    <span class="self-end mb-0.5 pb-px mr-12 text-xs font-thin">
      Bookmarks
    </span>
    <button class="px-4 py-2 border border-gray-800 text-gray-800 text-xs font-medium rounded-full hover:bg-gray-50 transition ease-in-out"
      (click)="showBookmarks = !showBookmarks"
      >
      <span *ngIf="!showBookmarks; else hideBookmarksTemplate">
        Show bookmarks
      </span>
      <ng-template #hideBookmarksTemplate>
        Hide Bookmarks
      </ng-template>
    </button>
  </div>
</div>