<div class="absolute top-0 right-0 h-screen w-3/12 flex">
  <div class="my-auto w-3/4">
    <h1 class="text-right pr-1 mt-1 font-medium text-xl text-gray-800">
      Bookmarks
    </h1>
    <div class="content-height mt-5 p-1 flex flex-col gap-y-1 overflow-y-auto border bg-gray-100">
      <button *ngFor="let bookmark of bookmarks"
        class="bg-white p-2 text-sm text-right hover:bg-gray-50" 
        (click)="bookmarkedClicked.emit(bookmark)"
      >
        {{ bookmark }}
      </button>
    </div>
  </div>
</div>
