<div class="absolute top-0 left-0 h-screen w-3/12 flex justify-end">
  <div class="my-auto w-3/4">
    <h1 class="pl-1 mt-1 font-medium text-xl text-gray-800">
      History
    </h1>
    <div class="content-height mt-5 p-1 flex flex-col gap-y-1 overflow-y-auto border bg-gray-100">
      <button *ngFor="let item of historyItems"
        class="bg-white p-2 text-sm text-left hover:bg-gray-50" 
        (click)="historyItemClicked.emit(item)"
      >
        {{ item }}
      </button>
    </div>
  </div>
</div>
